<div class="container">
    <main class="row">
        
        <!--  *******   Left Section (Column) Starts   *******  -->

        <section class="col left">
            
            <!--  *******   Title Starts   *******  -->

            <div class="contactTitle">
                <h2>Contact Me</h2>
                <p>I am available for professional collaborations, project inquiries, or any opportunities to connect and grow together.</p>
            </div>

            <!--  *******   Title Ends   *******  -->

            <!--  *******   Contact Info Starts   *******  -->

            <div class="contactInfo">
                
                <div class="iconGroup">
                    <div class="icon">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="details">
                        <span>Phone</span>
                        <span>+212 767554899</span>
                    </div>
                </div>

                <div class="iconGroup">
                    <div class="icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="details">
                        <span>Email</span>
                        <span>manarbakhat2001&#64;gmail.com</span>
                    </div>
                </div>

                <div class="iconGroup">
                    <div class="icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="details">
                        <span>Location</span>
                        <span>Morocco</span>
                    </div>
                </div>

            </div>

            <!--  *******   Contact Info Ends   *******  -->

            <!--  *******   Social Media Starts   *******  -->

            <div class="socialMedia">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>

            <!--  *******   Social Media Ends   *******  -->

        </section>

        <!--  *******   Left Section (Column) Ends   *******  -->

        <!--  *******   Right Section (Column) Starts   *******  -->

        <section class="col right">
            
            <!--  *******   Form Starts   *******  -->

            <form class="messageForm">
                
                <div class="inputGroup halfWidth">
                    <input type="text" name="" required="required">
                    <label>Your Name</label>
                </div>

                <div class="inputGroup halfWidth">
                    <input type="email" name="" required="required">
                    <label>Email</label>
                </div>

                <div class="inputGroup fullWidth">
                    <input type="text" name="" required="required">
                    <label>Subject</label>
                </div>

                <div class="inputGroup fullWidth">
                    <textarea required="required"></textarea>
                    <label>Say Something</label>
                </div>

                <div class="inputGroup fullWidth">
                    <button>Send Message</button>
                </div>

            </form>

            <!--  *******   Form Ends   *******  -->
        </section>

        <!--  *******   Right Section (Column) Ends   *******  -->

    </main>
</div>
