
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff !important;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  color: black;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

.section-title {
  font-size: 4rem;
  font-family: 300;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.section-title span {
  color: #11a372;
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  background-color: transparent;
  border: 2px solid #11a372;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease background-color, color;
  /* color: black; */
  color: white;
}

.cta:hover {
  color: white;
  background-color: #11a372;
}

.brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}

.brand h1 span {
  color: #11a372;
}



/* about section */
#about {
  background-color: #000000; /* Couleur de fond */
  position: relative; /* Nécessaire pour gérer les enfants positionnés */
}

#about .about {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#about .col-left {
  position: relative; /* Nécessaire pour positionner le pseudo-élément correctement */
  z-index: 0; /* Assure que le cadre reste sous l'image */
}

#about .about-img {
  position: relative; /* Nécessaire pour que l'image reste au-dessus du cadre */
  z-index: 1; /* Place l'image au-dessus du cadre */
}

#about .col-right {
  width: 100%;
}

#about .col-right h2 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
  color: #fff;
}

#about .col-right p {
  margin-bottom: 20px;
  color: #fff;
}

#about .col-right .cta {
  margin-bottom: 50px;
  color: black;
  padding: 10px 20px;
  font-size: 2rem;
}

#about .col-left .about-img {
  height: 100%;
  width: 100%;
  position: relative;
  border: 10px solid white;
}

#about .col-left .about-img::after {
  content: "";
  position: absolute;
  left: -33px;
  top: 19px;
  height: 98%;
  width: 98%;
  border: 7px solid #11a372; /* Cadre rouge */
  z-index: -1; /* Place le pseudo-élément juste sous l'image, mais au-dessus du fond */
}

@media screen and (min-width: 768px) {
  #about .about {
    flex-direction: row;
  }

  #about .col-left {
    width: 600px;
    height: 400px;
    padding-left: 60px;
  }

  #about .about .col-left .about-img::after {
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid #11a372;
  }

  #about .col-right {
    text-align: left;
    padding: 30px;
  }

  #about .col-right h1 {
    text-align: left;
     color: #fff;
  }
}

