<div class="about-container">
    <div class="about-content">
      <img src="../../../assets/images/About.jpg" alt="Image à propos" class="about-image">
      <div class="about-text">
        <h1>Who am I?</h1>
        <p>
            Motivated, detail-oriented, and a strong team player, I demonstrate great adaptability and problem-solving skills. As a recent graduate and laureate of EMSI, I possess strong skills in web development, project management, DevOps and Cloud.
        </p>
        <p>
            I am actively seeking an opportunity as a software engineer, eager to take on new challenges.
        </p>
        <button class="contact-button">About me</button>
      </div>
    </div>
  </div>
