<!-- Section About -->
<section id="about">
    <div class="about container">
      <div class="col-left reveal">
        <div class="about-img">
          <img src="../../../assets/images/about-img.jpg" alt="img">
        </div>
      </div>
      <div class="col-right reveal">
        <h1 class="section-title reveal">About <span>me</span></h1>
        <h2 class="reveal">Software Engineer</h2>
        <p class="reveal">Motivated, detail-oriented, and a strong team player, I demonstrate great adaptability and problem-solving skills. As a recent graduate and laureate of EMSI, I possess strong skills in web development, project management, DevOps and Cloud.</p>
        <a href="../../../assets/CV BAKHAT-MANAR .pdf" download class="cta reveal">Download Resume</a>
      </div>
    </div>
  </section>