<div class="container">
	<main class="row">
	  
	  <!--   *******  Education Section Starts  *******   -->
	  <section class="col">
		<header class="title">
		  <h2 class="reveal">EDUCATION</h2>
		</header>
  
		<div class="contents">
		  <div class="box reveal">
			<h4>2022 - 2024</h4>
			<h3>Master's Degree in Computer Science and Networks</h3>
			<p>Moroccan School of Engineering Sciences (EMSI)</p>
		  </div>
  
		  <div class="box reveal">
			<h4>2019 - 2022</h4>
			<h3>Bachelor’s Degree in Mathematics and Computer Science</h3>
			<p>Faculty of Sciences, Abdelmalek Essaadi University</p>
		  </div>
  
		  <div class="box reveal">
			<h4>2019</h4>
			<h3>Scientific Baccalaureate</h3>
			<p>Charif Idrissi High School</p>
		  </div>
		</div>
	  </section>
	  <!--   *******  Education Section Ends  *******   -->
  
	  <!--   *******  Experience Section Starts  *******  -->
	  <section class="col">
		<header class="title">
		  <h2 class="reveal">EXPERIENCE</h2>
		</header>
  
		<div class="contents">
		  <div class="box reveal">
			<h4>2018 - 2022</h4>
			<h3>Final Year Internship - TE Connectivity, Tangier</h3>
			<p>Intern Engineer responsible for the development of a web application
			  for improving a web solution to manage the measurement test process
			  at TE Connectivity’s laboratory.</p><br/>
			<p>Technical Environnent: ASP.NET - Angular – PrimeNg - SQL Server - Git</p>
		  </div>
  
		  <div class="box reveal">
			<h4>2018 - 2022</h4>
			<h3>Internship - NTT DATA, Tetouan</h3>
			<p>Intern Engineer responsible for the development of a web application for
			  managing the application process of interns.</p>
			<br/>
			<p>Technical Environment: ASP.NET - SQL Server – Angular - Git</p>
		  </div>
		</div>
	  </section>
	  <!--   *******  Experience Section Ends   *******  -->
	</main>
  </div>