

<div class="swiper-container">
  <h1>My projects</h1>
  <swiper-container loop="true" pagination="true" navigation="true">
    

    <!-- Slide 1 -->
    <swiper-slide>
      <a href="https://github.com/Manar-Bakhat/Intern_Management" target="_blank" class="project-link">
      <div class="projects-slide">
        <div class="project">
          <div class="project-image-container">
            <img src="../../../assets/images/nttdata.png" alt="Project 2" class="project-image">
          </div>
          <div class="project-info">
            <h3>NTT DATA Carrers</h3>
            <p>
              The project involved developing a web application for managing internship applications. Candidates can create their profile, upload a CV, and attach a cover letter. The application allows them to track their application's status and receive email notifications for any updates.
            </p>
            
            <h4>Results:</h4>
            <ul>
              <li>Optimization of the application process for both candidates and administrators.</li>
              <li>Improved communication between candidates and the recruitment team through automated notifications.</li>
              <li>Time-saving for administrators through centralized management of applications.</li>
              <li>Protection of sensitive data through a robust authentication system.</li>
            </ul>
            
          </div>
        </div>
      </div>
      </a>
    </swiper-slide>

    <!-- Slide 2 -->
    <swiper-slide>
      
      <div class="projects-slide">
        <div class="project">
          <div class="project-image-container">
            <img src="../../../assets/images/te.png" alt="Project 1" class="project-image">
          </div>
          <div class="project-info">
            <h3>LabGenius Project</h3>
            <p>
              I participated in the digitalization of the measurement testing process at 
              TE Connectivity's laboratory. The goal was to automate the management of test requests 
              and improve the traceability of operations. I contributed to the development of a web 
              application to facilitate the management of tests and reports.
            </p>
            
            <h4>Results:</h4>
            <ul>
              <li>Automated test request management and reminders, reducing manual effort.</li>
              <li>Improved test tracking and reporting efficiency, speeding up decision-making.</li>
              <li>Enhanced traceability of test operations, improving quality control and compliance.</li>
              <li>Achieved cost savings by eliminating paper records and manual processes.</li>
            </ul>
            
          </div>
        </div>
      </div>
 
    </swiper-slide>

    <!-- Slide 3 -->
    <swiper-slide>
      <a href="https://github.com/Manar-Bakhat/speedy" target="_blank" class="project-link">
      <div class="projects-slide">
        <div class="project">
          <div class="project-image-container">
            <img src="../../../assets/images/speedy.png" alt="Project 3" class="project-image">
          </div>
          <div class="project-info">
            <h3>Speedy</h3>
            <p>
              This project involves developing a free home services platform that connects workers and clients to exchange benefits. Workers can post free ads detailing their services, including their age, phone number, city, and region. Clients can search for workers offering the services they need based on specific criteria (service name, city, area) and directly contact the workers through the app or by phone.
            </p>
            <p>
              The platform’s goal is not only to foster cooperation but also to promote sharing, emotional connection, and a sense of collaboration.
            </p>
          </div>
        </div>
      </div>
    </a>
    </swiper-slide>

    <!-- Slide 4 -->
    <swiper-slide>
      <a href="https://github.com/Manar-Bakhat/FreelancerPlatform" target="_blank" class="project-link">
      <div class="projects-slide">
        <div class="project">
          <div class="project-image-container">
            <img src="../../../assets/images/prolancer.png" alt="Project 4" class="project-image">
          </div>
          <div class="project-info">
            <h3>Prolancer</h3>
            <p>
              The Prolancer platform connects skilled talents with diverse projects through a user-friendly interface. Users can explore opportunities, select up to three projects, and undergo an administrator's validation. Once approved, they access tools for streamlined project management, collaboration, and task tracking. Prolancer bridges the gap between freelancers and businesses, optimizing workflows and fostering productive partnerships. It empowers users to achieve their goals efficiently while creating a thriving ecosystem for talent and opportunity.
            </p>
            
          </div>
        </div>
      </div>
      </a>
    </swiper-slide>
  </swiper-container>
</div>
