/* Styles de la navbar */
.navbar {
  background: linear-gradient(to bottom, #fff9f9, #d1cfcf);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease;
}

.sticky {
  background-color: #ffffff;
  box-shadow: 0 4px 2px -2px rgb(0 0 0 / 20%);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  height: 100px;
  width: auto;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.nav-links li {
  padding: 0 10px;
}

.nav-links li a {
  color: black;
  text-decoration: none;
  position: relative;
  padding: 14px 20px;
  display: inline-block;
}

.nav-links li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: black;
  left: 0;
  bottom: 0;
  transition: width 0.3s ease-in-out;
}

.nav-links li a:hover::after {
  width: 100%;
}

.nav-links li a:hover {
  color: black;
}

.burger-menu {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Réactif pour les petits écrans */
@media (max-width: 850px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: white;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: all 0.3s ease;
  }

  .nav-links.open {
    display: flex;
  }

  .burger-menu {
    display: block;
  }

  .logo {
    height: 60px; /* Diminue la taille du logo sur les écrans plus petits */
  }
}
