<nav class="navbar">
  <div class="navbar-container">
    <!-- Logo -->
    <img src="../../../assets/images/logo.png" alt="Logo" class="logo" />

    <!-- Bouton de menu burger -->
    <button class="burger-menu" (click)="toggleMenu()">☰</button>

    <!-- Liens de navigation -->
    <ul class="nav-links" [ngClass]="{ 'open': isMenuOpen }">
      <li><a (click)="scrollToSection('home'); closeMenu()">HOME</a></li>
      <li><a (click)="scrollToSection('about'); closeMenu()">ABOUT</a></li>
      <li><a (click)="scrollToSection('skills'); closeMenu()">SKILLS</a></li>
      <li><a (click)="scrollToSection('projects'); closeMenu()">PROJECTS</a></li>
      <li><a (click)="scrollToSection('contact'); closeMenu()">CONTACT</a></li>
    </ul>
  </div>
</nav>
