/* Le conteneur principal avec l'image de fond */
.home-container {
  height: 100vh; /* Prend toute la hauteur de la fenêtre */
  background-image: url('../../../assets/images/bgH.png'); /* Le chemin vers ton image */
  background-size: 100% 470px;
  background-position: center; /* L'image est centrée */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenu contenant le texte et l'image */
.content {
  display: flex;
  justify-content: space-between; /* Espacer le texte et l'image */
  width: 80%; /* Largeur du contenu */
  max-width: 1200px; /* Limite la largeur à 1200px */
  margin: 0 auto; /* Centrer le contenu horizontalement */
}

/* Style du texte */
.home-text {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  margin-left: -90px;
}
.home-text h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.home-text .text-style1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  margin-bottom: 0px; 
  margin-top: -20px; 
}
.home-text .text-style2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
}

/* Style de l'image */
.home-image {
  display: flex; /* Maintenir l'image visible par défaut */
}

.home-image img {
  max-width: 100%; /* S'adapte à la taille du conteneur */
  height: auto;
  border-radius: 10px; /* Bords arrondis pour l'image */
  flex: 1; /* Occuper l'autre partie disponible */
  max-width: 500px; /* Limite la taille maximale de l'image */
  margin-top: -90px;
}

.contact-button {
  background-color: #000000; /* Couleur de fond du bouton */
  color: white; /* Couleur du texte */
  border: none; /* Pas de bordure */
  border-radius: 5px; /* Coins arrondis */
  padding: 15px 40px; /* Espacement intérieur */
  font-size: 1.2rem; /* Taille de la police */
  cursor: pointer; /* Change le curseur pour indiquer que c'est cliquable */
  transition: background-color 0.3s; /* Effet de transition */
  margin-top: 10px; /* Espace au-dessus du bouton */
}

.contact-button:hover {
  background-color: #2b2b2b; /* Couleur au survol */
}

.social-icons {
  display: flex; /* Utiliser flexbox pour aligner les icônes */
  gap: 10px; /* Espace entre les icônes */
  margin-bottom: 10px; /* Espace entre les icônes et le bouton */
  margin-top: 30px;
  margin-left: 80px;
}

.social-icons a {
  color: rgb(0, 0, 0); /* Couleur des icônes */
  font-size: 1.5rem; /* Taille des icônes */
  text-decoration: none; /* Supprime le soulignement */
  transition: color 0.3s; /* Effet de transition pour le survol */
}

.social-icons a:hover {
  color: #39393a; /* Couleur de survol pour LinkedIn */
}

.social-icons a:last-child:hover {
  color: #333; /* Couleur de survol pour GitHub */
}

/* Réglages pour tablettes et plus petits écrans */
@media (max-width: 1024px) {
  .content {
    flex-direction: column; /* Mettre le texte et l'image l'un sous l'autre */
    align-items: center;
  }

  .home-text {
    text-align: center; /* Centrer le texte */
    margin-left: 0;
  }

  .home-text h1 {
    font-size: 2.5rem; /* Réduire la taille des polices */
  }

  .home-text .text-style1 {
    font-size: 2.2rem; /* Ajustement de la taille */
  }

  .home-text .text-style2 {
    font-size: 1rem;
  }

  .home-image img {
    max-width: 80%; /* Réduire l'image à 80% sur les tablettes */
    margin-top: 20px;
  }

  .social-icons {
    justify-content: center; /* Centrer les icônes sociales */
    margin-left: 0; /* Supprimer la marge gauche */
  }
}

/* Réglages pour téléphones */
@media (max-width: 1000px) {
  .home-container {
    background-size: 100% 400px; /* Ajuster la taille de l'image de fond */
  }

  .home-image {
    display: none; /* Cacher l'image pour les petits écrans */
  }

  .home-text {
    margin-top: -220px; /* Décale le texte vers le haut */
    text-align: center; /* Centrer le texte sur petits écrans */
  }

  .home-text h1 {
    font-size: 2rem; /* Réduire encore plus les tailles de texte */
  }

  .home-text .text-style1 {
    font-size: 1.8rem;
  }

  .home-text .text-style2 {
    font-size: 0.9rem;
  }

  .contact-button {
    padding: 10px 20px; /* Ajuster l'espacement du bouton sur mobile */
    font-size: 1rem;
  }

  .social-icons a {
    font-size: 1.2rem; /* Réduire la taille des icônes sur mobile */
  }
}

/* Réglages pour petits téléphones */
@media (max-width: 580px) {

  .home-text {
    margin-top: -220px; /* Décale le texte vers le haut */
    text-align: center; /* Centrer le texte sur petits écrans */
  }
  
  .home-text h1 {
    font-size: 1.8rem;
  }

  .home-text .text-style1 {
    font-size: 1.5rem;
  }

  .home-text .text-style2 {
    font-size: 0.8rem;
  }

  .contact-button {
    padding: 8px 15px;
    font-size: 0.9rem;
  }
}
