<app-navbar></app-navbar>

<!-- Section principale - Home -->
<section class="home-container" id="home">
  <div class="animated-bg">
    <div class="text-slider-container">
      <div class="text-slider reveal">My Portfolio My Portfolio My Portfolio</div>
    </div>
  </div>
  <div class="content">
    <div class="home-text">
      <h1 class="reveal">Hello, I'm Manar Bakhat</h1>
      <p class="text-style1 reveal">SOFTWARE ENGINEER</p>
      <p class="text-style2 reveal">Welcome to my Portfolio</p>
      <button class="contact-button reveal" (click)="scrollToSection('contact')">
        <i class="fas fa-envelope"></i>&nbsp;&nbsp;Contact Manar
      </button>
      <div class="social-icons reveal">
        <a href="https://www.linkedin.com/in/manar-bakhat/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/Manar-Bakhat" target="_blank"><i class="fab fa-github"></i></a>
      </div>
    </div>
    <div class="home-image reveal">
      <img src="../../../assets/images/Manar.png" alt="Image description">
    </div>

    <div class="scroll-down-container reveal">
      <div class="scroll-down" (click)="scrollToBottom()"></div>
    </div>
  </div>
</section>


<!-- Autres sections -->
<section id="about">
  <app-about></app-about>
</section>

<section id="skills">
  <app-skills></app-skills>
</section>

<section id="projects">
  <app-works></app-works>
</section>

<section id="edu-exp">
  <app-edu-exp></app-edu-exp>
</section>

<section id="contact">
  <app-contact></app-contact>
</section>

<!-- Slider -->


<footer class="footer">
  <p>Copyright © 2025 <span class="highlight">MANAR BAKHAT</span>. All rights reserved</p>
</footer>
