<app-navbar></app-navbar>
<div class="home-container">
  <div class="animated-bg">
    <div class="text-slider-container">
      <div class="text-slider">My Portfolio My Portfolio My Portfolio</div>
    </div>
  </div>
  <div class="content">
    <div class="home-text">
      <h1>Hello, I'm Manar Bakhat</h1>
      <p class="text-style1">SOFTWARE ENGINEER</p>
      <p class="text-style2">Welcome to my Portfolio</p>
      <button class="contact-button"><i class="fas fa-envelope"></i>&nbsp;&nbsp;Contact Manar</button>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/manar-bakhat/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/Manar-Bakhat" target="_blank"><i class="fab fa-github"></i></a>
      </div>
    </div>
    <div class="home-image">
      <img src="../../../assets/images/Manar.png" alt="Image description">
    </div>

    <div class="scroll-down-container">
      <a href="#sec-2">
        <div class="scroll-down"></div>
      </a>
    </div>
    
  </div>
</div>

<app-about></app-about>
<app-skills></app-skills>
<app-works></app-works>
<app-edu-exp></app-edu-exp>
<app-contact></app-contact>


<footer class="footer">
  <p>Copyright © 2025 <span class="highlight">MANAR BAKHAT</span>. All rights reserved</p>
</footer>

