<app-navbar></app-navbar>
<div class="home-container">
    <div class="content">
      <div class="home-text">
        <h1>Hello, I'm Manar Bakhat</h1>
        <p class="text-style1">SOFTWARE ENGINEER</p>
        <p class="text-style2">Welcome to my Portfolio</p>
        <button class="contact-button"><i class="fas fa-envelope"></i>&nbsp;&nbsp;Contact Manar</button>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/votre-profil" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/votre-profil" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </div>
    </div>
      <div class="home-image">
        <img src="../../../assets/images/Manar.png" alt="Image description">
      </div>
    </div>
  </div>
  
  