/* Le conteneur principal avec l'image de fond */
.home-container {
  height: 100vh; /* Prend toute la hauteur de la fenêtre */
  background-image: url('../../../assets/images/bgH.png'); /* Le chemin vers ton image */
  background-size: 100% 470px;
  background-position: center; /* L'image est centrée */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenu contenant le texte et l'image */
.content {
  display: flex;
  justify-content: space-between; /* Espacer le texte et l'image */
  width: 80%; /* Largeur du contenu */
  max-width: 1200px; /* Limite la largeur à 1200px */
  margin: 0 auto; /* Centrer le contenu horizontalement */
}

/* Style du texte */
.home-text {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  margin-left: -90px;
}
.home-text h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.home-text .text-style1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  margin-bottom: 0px; 
  margin-top: -20px; 
  color: #11a372;
}
.home-text .text-style2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
}

/* Style de l'image */
.home-image {
  display: flex; /* Maintenir l'image visible par défaut */
}

.home-image img {
  max-width: 100%; /* S'adapte à la taille du conteneur */
  height: auto;
  border-radius: 10px; /* Bords arrondis pour l'image */
  flex: 1; /* Occuper l'autre partie disponible */
  max-width: 500px; /* Limite la taille maximale de l'image */
  margin-top: -90px;
}

.contact-button {
  background-color: #000000; /* Couleur de fond du bouton */
  color: white; /* Couleur du texte */
  border: none; /* Pas de bordure */
  border-radius: 5px; /* Coins arrondis */
  padding: 15px 40px; /* Espacement intérieur */
  font-size: 1.2rem; /* Taille de la police */
  cursor: pointer; /* Change le curseur pour indiquer que c'est cliquable */
  transition: background-color 0.3s; /* Effet de transition */
  margin-top: 10px; /* Espace au-dessus du bouton */
}

.contact-button:hover {
  background-color: #2b2b2b; /* Couleur au survol */
}

.social-icons {
  display: flex; /* Utiliser flexbox pour aligner les icônes */
  gap: 10px; /* Espace entre les icônes */
  margin-bottom: 10px; /* Espace entre les icônes et le bouton */
  margin-top: 30px;
  margin-left: 80px;
}

.social-icons a {
  color: rgb(0, 0, 0); /* Couleur des icônes */
  font-size: 1.5rem; /* Taille des icônes */
  text-decoration: none; /* Supprime le soulignement */
  transition: color 0.3s; /* Effet de transition pour le survol */
}

.social-icons a:hover {
  color: #39393a; /* Couleur de survol pour LinkedIn */
}

.social-icons a:last-child:hover {
  color: #333; /* Couleur de survol pour GitHub */
}

@media screen and (max-width: 768px) {
  /* Conteneur principal */
  .home-container {
    flex-direction: column; /* Empile le texte et l'image */
    padding: 90px; /* Ajuste la marge intérieure */
    background-image: url('../../../assets/images/bgH.png'); /* Image spécifique pour mobile */
    background-size: cover; /* Adapte l'image à l'écran */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Pas de répétition */
  }

  /* Contenu */
  .content {
    flex-direction: column; /* Empile le texte et l'image */
    width: 100%; /* Prend toute la largeur */
    margin: 0; /* Supprime les marges */
  }

  /* Image */
  .home-image {
    order: -1; /* Affiche l'image en premier */
    margin-top: 0; /* Ajuste l'espace au-dessus */
    justify-content: center; /* Centre l'image */
  }

  .home-image img {
    max-width: 80%; /* Adapte l'image à l'écran */
    margin: 0 auto; /* Centre l'image horizontalement */
  }

  /* Texte */
  .home-text {
    margin-left: 0; /* Supprime la marge gauche */
    text-align: center; /* Centre le texte */
  }

  .home-text h1 {
    font-size: 1.8rem; /* Réduit la taille du titre */
  }

  .home-text .text-style1 {
    font-size: 1.5rem; /* Ajuste la taille */
    color: #11a372;
    margin-top: 3px;
  }

  .home-text .text-style2 {
    font-size: 1rem; /* Taille plus petite pour les écrans mobiles */
  }

  /* Bouton de contact */
  .contact-button {
    font-size: 1rem; /* Réduit la taille de la police */
    padding: 10px 30px; /* Réduit l'espacement intérieur */
  }

  /* Icônes des réseaux sociaux */
  .social-icons {
    justify-content: center; /* Centre les icônes */
    gap: 15px; /* Espace entre les icônes */
    margin-left: 0; /* Supprime la marge gauche */
  }

  .social-icons a {
    font-size: 1.6rem; /* Réduit la taille des icônes */
  }
}






@media screen and (min-width: 770px) and (max-width: 1024px) {
  /* Conteneur principal */
  .home-container {
    flex-direction: column; /* Empile le texte et l'image */
    padding: 160px; /* Ajuste la marge intérieure */
    background-image: url('../../../assets/images/bgH.png'); /* Image spécifique pour tablette */
    background-size: cover; /* Adapte l'image à l'écran */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Pas de répétition */
  }

  /* Contenu */
  .content {
    flex-direction: column; /* Empile le texte et l'image */
    width: 100%; /* Prend toute la largeur */
    margin: 0; /* Supprime les marges */
  }

  /* Image */
  .home-image {
    order: -1; /* Affiche l'image en premier */
    margin-top: 0; /* Ajuste l'espace au-dessus */
    justify-content: center; /* Centre l'image */
  }

  .home-image img {
    max-width: 80%; /* Adapte l'image à l'écran */
    margin: 0 auto; /* Centre l'image horizontalement */
  }

  /* Texte */
  .home-text {
    margin-left: 0; /* Supprime la marge gauche */
    text-align: center; /* Centre le texte */
  }

  .home-text h1 {
    font-size: 1.8rem; /* Réduit la taille du titre */
  }

  .home-text .text-style1 {
    font-size: 1.5rem; /* Ajuste la taille */
    color: #11a372;
    margin-top: 3px;
  }

  .home-text .text-style2 {
    font-size: 1rem; /* Taille plus petite pour les écrans mobiles */
  }

  /* Bouton de contact */
  .contact-button {
    font-size: 1rem; /* Réduit la taille de la police */
    padding: 10px 30px; /* Réduit l'espacement intérieur */
  }

  /* Icônes des réseaux sociaux */
  .social-icons {
    justify-content: center; /* Centre les icônes */
    gap: 15px; /* Espace entre les icônes */
    margin-left: 0; /* Supprime la marge gauche */
  }

  .social-icons a {
    font-size: 1.2rem; /* Réduit la taille des icônes */
  }
}
