<div class="skills-container">
  <div class="skills-carousel-section">
    <h2 class="reveal">Skills I Use</h2>
    <div class="carousel-container reveal">
      <!-- Bouton pour défiler à gauche -->
      <button class="carousel-button prev reveal" (click)="scrollCarousel('prev')">❮</button>

      <!-- Carousel -->
      <div class="carousel" #carousel>
        <!-- Backend Tools -->
        <div class="carousel-item reveal">
          <img src="../../../assets/images/icons/dotnet.png" alt=".NET">
          <p>.NET</p>
        </div>
        <div class="carousel-item reveal">
          <img src="../../../assets/images/icons/spring.png" alt="Spring Boot">
          <p>Spring Boot</p>
        </div>
        <div class="carousel-item reveal">
          <img src="../../../assets/images/icons/django.png" alt="Django">
          <p>Django</p>
        </div>

        <!-- Frontend Tools -->
        <div class="carousel-item reveal">
          <img src="../../../assets/images/icons/angular.png" alt="Angular">
          <p>Angular</p>
        </div>
        <div class="carousel-item reveal">
          <div class="icon">
            <img src="../../../assets/images/icons/react.png" alt="ReactJS">
          </div>
          <p>ReactJS</p>
        </div>

        <!-- Database Tools -->
        <div class="carousel-item reveal">
          <div class="icon2">
            <img src="../../../assets/images/icons/oracle.png" alt="Oracle">
          </div>
          <p>Oracle</p>
        </div>
        <div class="carousel-item reveal">
          <div class="icon2">
            <img src="../../../assets/images/icons/mysql.png" alt="MySQL">
          </div>
          <p>MySQL</p>
        </div>
        <div class="carousel-item reveal">
          <div class="icon">
            <img src="../../../assets/images/icons/sqlserver.png" alt="SQL Server">
          </div>
          <p>SQL Server</p>
        </div>
        <div class="carousel-item reveal">
          <div class="icon2">
            <img src="../../../assets/images/icons/mongodb.png" alt="MongoDB">
          </div>
          <p class="icon-text">MongoDB</p>
        </div>

        <!-- DevOps Tools -->
        <div class="carousel-item reveal">
          <div class="icon2">
            <img src="../../../assets/images/icons/docker.png" alt="Docker">
          </div>
          <p>Docker</p>
        </div>
        <div class="carousel-item reveal">
          <img src="../../../assets/images/icons/kubernetes.png" alt="Kubernetes">
          <p>Kubernetes</p>
        </div>
      </div>

      <!-- Bouton pour défiler à droite -->
      <button class="carousel-button next reveal" (click)="scrollCarousel('next')">❯</button>
    </div>
  </div>
</div>