<div class="skills-section">
    <div class="skills-overlay">
        <h1 class="skills-title">Skills</h1>
        <div class="skills-description">
            <div class="skills-group">
                <div class="skill-item">
                    <div class="style-skill">Back-End</div>
                    <div class="style-respSkill">.NET - SpringBoot</div>
                </div>
                <div class="skill-item">
                    <div class="style-skill">Front-End</div>
                    <div class="style-respSkill">Angular - ReactJS</div>
                </div>
                <div class="skill-item">
                    <div class="style-skill">Database</div>
                    <div class="style-respSkill">Oracle - PL/SQL - MySQL - SQL Server - MongoDB</div>
                </div>
                <div class="skill-item">
                    <div class="style-skill">Programming Languages</div>
                    <div class="style-respSkill">C - C# - PHP - Java - Python - JavaScript</div>
                </div>
            </div>
            

            <div class="divider"></div> <!-- Ligne de séparation -->

            <div class="skills-group">
                <div class="skill-item">
                    <div class="style-skill">Architectures</div>
                    <div class="style-respSkill">MicroService - MVC - Singleton - DDD</div>
                </div>
                <div class="skill-item">
                    <div class="style-skill">Version Control</div>
                    <div class="style-respSkill">Git/Github</div>
                </div>
                <div class="skill-item">
                    <div class="style-skill">Containerization</div>
                    <div class="style-respSkill">Docker</div>
                </div>
                <div class="skill-item">
                    <div class="style-skill">Project Management</div>
                    <div class="style-respSkill">Method Scrum - Agile</div>
                </div>
            </div>
        </div>
    </div>
</div>
